<h2 class="p-1">Song Library</h2>
<mat-form-field class="example-form-field">
    <mat-label>Filter</mat-label>
    <!-- Search/filtering for songs. -->
    <input matInput (keyup)="applyFilter($event)" placeholder="Search (ie: by artist, by genre, etc">
</mat-form-field>
<!-- Load the library of songs and show it in the browser. -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" *ngIf="addPlaylist">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.id) : null"
                    [checked]="selection.isSelected(row.id)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.title}} </mat-cell>
        </ng-container>

        <!-- Album Column -->
        <ng-container matColumnDef="album">
            <mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.album}} </mat-cell>
        </ng-container>

        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
            <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.artist}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>