<!-- Load saved playlists. -->
<h1 mat-dialog-title>View Playlist</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput [(ngModel)]="name" readonly>
  </mat-form-field>
  <app-library #viewlibrary [viewPlaylist]="viewPlaylist"></app-library>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>
</div>