<!-- Search for a particular entry/song criteria (ie: music length, by artist, by genre, etc) from the backend GraphQL API. -->
<h2 class="p-1">Search Results - '{{search}}'</h2>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.title}} </mat-cell>
        </ng-container>

        <!-- Album Column -->
        <ng-container matColumnDef="album">
            <mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.album}} </mat-cell>
        </ng-container>

        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
            <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.artist}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>