<h1 mat-dialog-title>Add Playlist</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Playlist Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>

  <app-library #addLibrary [addPlaylist]="addPlaylist"></app-library>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="addToPlaylist()">Ok</button>
</div>

