/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-1 {
    padding: 10px;
}
.pointer {cursor: pointer;}
mat-toolbar-row {
    mat-form-field {
        div.mat-form-field-flex {
            height: 5px;
        }
        .mat-form-field-underline {
            display: none;
        }
    }
}