.pc-container {
    width: 100%;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.5);
}
.pc-spacer {
    flex: 1 1 auto;
}
  
.pc-sidenav-content {
    margin: 12px 12px 0px 16px;
    padding: 10px;
    background: #ffffff;
    border-style: outset;
}

.pc-sidenav {
    padding: 20px;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
mat-toolbar-row {
    mat-form-field {
        div.mat-form-field-flex {
            align-items: flex-end;
            height: 5px;
        }

        div.mat-form-field-prefix {
            padding-right: 12px !important;
        }
    }
}
.nav li {
    a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none; 
    }
    a.active {
        background-color: #3f50b5;
        color: white;
    }
    a:hover {
        background-color: #555;
        color: white;
    }
    .menuText {
        vertical-align: top;
    }
}