<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon (click)="drawer.toggle()" class="pc-icon p-1 pointer" aria-hidden="false" aria-label="Example delete icon">
      reorder
    </mat-icon>

    <span>Playlist Challenge</span>
    <span class="pc-spacer"></span>
    <app-search-form></app-search-form>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="pc-container" autosize>
  <mat-drawer #drawer class="pc-sidenav" mode="side">
    <ul class="nav">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span class="menuText">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/playlist" routerLinkActive="active">
          <mat-icon>queue_music</mat-icon>
          <span class="menuText">playlist</span>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="pc-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>