<!---Search for a particular entry/song criteria (ie: music length, by artist, by genre, etc) from the backend GraphQL API.-->
<form class="my-form" #loginForm=ngForm (ngSubmit)="Submit()">
  <mat-form-field appearance="fill">
    <mat-label>search</mat-label>
    <input matInput [(ngModel)]="search" (focusout)="focusOutFunction()" [ngModelOptions]="{standalone: true}" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>