<!-- List saved playlists. -->
<h2 class="p-1">Song Playlist</h2>
<div>
    <button mat-button (click)="addPlaylist()">Add Playlist</button>
</div>
<mat-form-field class="pc-form-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search (ie: by Playlist Name">
  </mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index"> 
                <mat-icon class="pointer" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="viewPlaylist(element?.id)">View</button>
                    <button mat-menu-item (click)="deletePlaylist(element?.id)">Delete</button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>