<h1 mat-dialog-title>Confirmaction</h1>
<div mat-dialog-content>
 <p>Are you sure, Do you want to delete this playlist </p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>